 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat!!!</title>
    <script src="./socket.io/socket.io.js"></script>
    <style>
        i {
            color: gray;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div class="container_chat">
        <h2>Mis productos</h2>
        <div class="container_chat">
            <div class="chat">
                <form id="data_user">
                    <input id="user_name" type="text" name="user" placeholder="Ingrese su nombre">
                    <input id="producto" type="text" name="title" placeholder="Ingrese nombre del producto">
                    <input id="imagen" type="text" name="thumbnail" placeholder="Ingrese url de la imagen">
                    <input id="precio" type="text" name="price" placeholder="Ingrese el precio">
                    <input type="submit" value="Enviar">
                </form>
            </div>
            <p id="parrafo"></p>
        </div>
    </div>
    <b></b> <span></span> <br>
    <div class="mt-2 d-flex flex-column align-items-center">
        <a class="btn btn-primary" href="/">Volver</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script>
        let socket = new io()
        // let mensaje = document.getElementById("mensaje");
        // let parrafo = document.getElementById("parrafo");
        let form_data_user = document.getElementById("data_user");
        form_data_user.addEventListener("submit", e => {
            e.preventDefault(); //para que no me recargue la pagina al hacer click
            let client = {
                user: e.target[0].value,
                title: e.target[1].value,
                thumbnail: e.target[2].value,
                price: e.target[3].value,
            }
            if (client.user == "" || client.title == "" || client.thumbnail == "" || client.price == "") window.location.reload();
            socket.emit("from_front", client);
        })

        // mensaje.addEventListener("keyup", (e)=>{
        //     socket.emit("from_front", e.target.value);
        // })


        socket.on("fill_message", data => {
            fill_message(data)
        });

        socket.on("error", data => {
            alert(data)
        });


        socket.on("init", data => {
            console.log(data);
            if (data.length > 0) {
                fill_message(data)
            }
        });

        function fill_message(data) {
            let sms_html = ``;
            for (const sms of data) {
                sms_html += `<b>${sms.title}:</b> <br> <span>${sms.price}</span> <br> <img src="${sms.thumbnail}">
                <br><br>
                <b>${sms.user}:</b> 
                
                <i>${sms.date}</i> <br> `;
            }
            parrafo.innerHTML = sms_html;
        }


    </script>
</body>

</html>

