<div class="container_chat_global">
        <h2>Clase 18135</h2>
        <div class="container_chat">
            <div>
                <div class="chat">
                    <form id="data_userChat">
                        <input id="email" type="text" name="email" placeholder="Ingresa tu email">
                        <input id="user_name" type="text" name="user" placeholder="Ingresa tu usuario">
                        <input id="mensaje" type="text" name="message" placeholder="Ingresa tu mensaje">
                        <input type="submit" value="Enviar">
                    </form>
                </div>
                <p id="parrafoChat"></p>
            </div>
            <div class="users card">
                <h3>Todos los usuarios</h3>
                <ul id="user_listChat">
                </ul>
            </div>
        </div>
    </div>